*{
margin:0;
padding:0;
box-sizing: border-box
}

.container{
    background-color: rgb(250, 250, 250);
    height: 100vh;
    position: relative;
    font-family:Tahoma, Geneva, sans-serif;
}

.clock{
	position: absolute;
    translate-y:-50;
    font-size:200px;
    top: 170px;
    left:240px;
    color:white;
    display:block;
}

.underline{
    border-bottom:solid 3px white;
    position:absolute;
    top: 390px;
    left:260px;
    display:block;
}

.hours{
	display:inline-block;
}

.minutes{
	display:inline-block;
}

.seconds{
	display:inline-block;
}

.color{
	position: absolute;
    translate-y:-50;
    font-size:200px;
    top: 170px;
    left:240px;
    color:white;
    display:hidden

}
.hidden {
	display: none;
}

.color1{
	display:inline-block;
}

.color2{
	display:inline-block;
}

.color3{
	display:inline-block;
}
